@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");

:root {
	--bg-color:  linear-gradient(to top left, hsl(226, 23%, 14%), hsl(226, 23%, 20%));
	--mg-color: hsl(253, 15%, 14%);
	--mg2-color: hsl(253, 15%, 18%); 
	--fg-color: #fff;
	--nav-color: hsla(255, 15%, 12%, 0.5); 
}

* {
	font-family: "Open Sans", sans-serif;
	margin: 0;
}

html {
	min-width: 100%;
	min-height: 100%;
}

body {
	background: var(--bg-color);
}

nav {
	height: 100vh;
	background: var(--mg-color);
	float: left;
	flex-grow: 2;
}

nav a {
	color: var(--fg-color);
	text-decoration: none;
	text-align: center;
	cursor: pointer;
}

nav ul {
	color: var(--fg-color);
	padding: 0;
	margin-top: 5px;
}

nav ul li {
	display: block;
	width: 100%;
	background: var(--mg2-color);
	margin-top: 5px;
	padding: 5px;
	text-align: center;
}

p {
	color: var(--fg-color);
	text-align: center;
}

h3 {
	color: var(--fg-color);
	display: block;
	text-align: center;
	margin-top: 10px;
}